.container {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 1vmin);
    color: white;
}

.easterEgg {
    margin: 50px;
    justify-content: center;
    height: 60vmin;
    pointer-events: none;
}

.rainbowText {
    background-image: linear-gradient(to left,  green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (prefers-reduced-motion: no-preference) {
    .easterEgg {
        animation: easterEgg-spin infinite 1s linear;
    }
}

@keyframes easterEgg-spin {
    0% {-webkit-transform:rotate(4deg);}
    50% {-webkit-transform:rotate(-4deg);}
    100% {-webkit-transform:rotate(4deg);}
}
